Gruntfile.js
tasks
node_modules
.idea
.git
/node_modules
test
.travis.yml
appveyor.yml
/src
travis/
obj/
bin/
.vs*/
tslint.json
tsconfig.json
*.sln
*.njsproj*
iobroker.*.tgz
build/**/*.map
Thumbs.db

# Local debugging password
*_password.json