Gruntfile.js
tasks
node_modules
.idea
.git
/node_modules
test
.travis.yml
appveyor.yml
.circleci/
/src
travis/
obj/
bin/
.vs*/
tslint.json
tsconfig.json
*.sln
*.njsproj*
iobroker.*.tgz
build/**/*.map
Thumbs.db
.nyc_output/
coverage/
maintenance/

# TODO: find out if this actually helps
package-lock.json

# Local debugging password
*_password.json