/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.adapter-container {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
